/* about me */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .lg-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;

    .text-secondary {
      color: $secondary-color;
    }
  }
  .sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .about-info {
    display: grid;
    grid-template-areas:
    'bio bio'
    'thesis job';
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;

    .bio {
      grid-area: bio;
      background: transparent;
      padding: 1.5rem;
      border-radius: 10px;
      color: set-text-color($primary-color);
    }
    .job {
      grid-area: job;
    }
    .thesis {
      grid-area: thesis;
    }

    .accordion {
      background: transparent;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;

      &-header {
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color;
        background: $primary-color;

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
        }
        .icon {
            font-size: 1.5rem;
            transition: transform 0.3s ease;
        }
        &.active .icon {
          transform: rotate(180deg);
        }
      }
      &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        background: $primary-color;

        p {
          line-height: 1.6;
          color: set-text-color($primary-color);
          padding-bottom: 1rem;
        }
      }

      &.active .accordion-content {
        max-height: 500px;
        padding: 1.5rem;
      }
    }
  }
}