/* responsive design */

@include mediaXL {
    main {
        min-height: calc(100vh - 80px);
        .lg-heading {
            font-size: 8rem;
        }
        .sm-heading {
            font-size: 2rem;
        }
        &#home {
            .bio-image {
                width: 400px;
                height: 400px;
                border-radius: 50%;
                border: $secondary-color solid 3px;
            }
        }
    }
    header {
        margin-top: 2rem;
        .navbar {
            max-width: 2560px;
            .links {
                margin-right: 3rem;
                a {
                    font-size: 35px;
                }
            }
            .icons {
                margin-left: 3rem;
                a {
                    font-size: 50px;
                    padding: 1.5rem;
                }
            }
        }
    }
    footer {
        font-size: 25px;
        height: 80px;
    }
}
@include mediaL {
    header {
        margin-top: 1rem;
        margin-right: 2rem;
        .navbar {
            max-width: 1440px;
            .links {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}
@include mediaM {
    main {
        min-height: calc(100vh - 50px);
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 4rem;
        }
        .sm-heading {
            font-size: 1rem;
        }
    }
    header {
        .navbar {
            .links {
                display: none;
            }
            .toggle_btn {
                display: block;
            }
        }
        .dropdown_menu {
            display: block;
        }
    }
    .about-info {
        grid-template-areas: 
        'bio'
        'thesis'
        'job';
        grid-template-columns: 1fr;
    }
    footer {
        font-size: 14px;
        height: 50px;
    }
}
@include mediaS {
    main {
        min-height: calc(100vh - 40px);
        &#home {
            .bio-image {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: $secondary-color solid 3px;
            }

            h1, h2 {
                margin-top: 1rem;
                font-size: 2rem;
            }
            h2 {
                font-size: 12px;
            }
        }
    }
    header {
        .navbar {
            .links {
                display: none;
            }
            .toggle_btn {
                display: block;
            }
            .icons {
                a {
                    font-size: 1rem;
                }
            }
        }
        .dropdown_menu {
            right: 2rem;
            width: fit-content;
            top: 3rem;
        }
    }
    #about { 
        p {
            font-size: 12px;
            text-align: justify;
        }
        .lg-heading {
            margin-bottom: 0.5rem;
            margin-top: 2.5rem;
        }
        .accordion {
            &-header {
                font-size: 12px;
            }
        }
        .about-info {
            grid-template-areas: 
            'bio'
            'thesis'
            'job';
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
    footer {
        font-size: 12px;
        height: 40px;
        padding: 0.7rem;
    }
  }