@import '_config';
@import '_menu';
@import '_about';
@import '_contact';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: $primary-font;
    line-height: 1.5;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
    min-height: calc(100vh - 60px);

    /* home page */
    &#home {
      overflow: hidden;
      align-content: center;
      text-align: center;

      .bio-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: $secondary-color solid 3px;
        margin-top: 3rem;
      }
    }
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
      font-size: 5rem;
      margin-top: 3rem;
  }
  &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      font-size: 20px;
      font-family: $secondary-font;
  }
}

.text-secondary {
  color: $secondary-color;
}

/* footer */
footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';